body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#welcome-screen {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #a3c8f0;
}

h1{
    text-align: center;
    padding-top: 5%;
}

h2{
    text-align: center;
    padding-top: 5%;
}

#typeA-button{
    padding: 20px 40px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#typeB-button{
    padding: 20px 40px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Espacio entre las filas de botones */
}

.button-container a {
    margin: 0 10px; /* Espacio entre los botones */
}

#typeA-button,
#typeB-button,
#typeC-button,
#typeD-button {
    padding: 20px 40px; /* Tamaño del botón */
    font-size: 16px; /* Tamaño del texto */
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer; /* Cursor al pasar el ratón */
    transition: background-color 0.3s; /* Transición suave */
}

#typeA-button:hover,
#typeB-button:hover,
#typeC-button:hover,
#typeD-button:hover {
    background-color: #9acbff; /* Cambio de color al pasar el ratón */
}